@charset "utf-8";
/* CSS Document */
body {font-family:"Microsoft yahei", Arial, Verdana; font-size:120%; background:#fff;}
*{ padding:0; margin:0; list-style:none;}
img{ vertical-align:top;}
.fl{ float:left;}
.tl{ text-align:left;}
.tc{ text-align:center;}
.tr{ text-align:right;}
.rel{ position:relative;}
.abs{ position:absolute;}
.clear{ clear:both; width:100%; height:0;}
.clearfix:after{ visibility:hidden; display:block; height:0; font-size:0; content:""; clear:both;}
*+html .clearfix {display:inline;zoom:1;}
a{ text-decoration:none;}
.wrapper{ max-width:640px; min-width:320px; margin:0 auto;}

.entrybg{ background:url(../images/index_bg.jpg); background-repeat:no-repeat; background-position:center; background-size:cover; height:100%;}
.cont-Left{ float:left; width:35%; height:100%;}

.h3_title{ position:absolute; left:50%; top:1rem;  color:#282622; width:2rem;}
.title{ position:absolute; text-align:center; font-size:0.7rem; word-wrap:break-word; width:0.7rem;}
.english{ -webkit-transform:rotate(90deg); transform:rotate(90deg); font-size:0.7rem; position:absolute; left:1.2rem; top:4rem; width:0.7rem;}


.cont-Right{ float:right; width:65%; height:100%; position:relative; z-index:0; overflow:hidden;}
.film_bg{ position:absolute; z-index:-1; left:0; width:100%; height:100%;}

.spot{ overflow-y:auto; overflow-x:hidden; width:96%; margin:0 auto; height:100%;}
.spot::-webkit-scrollbar{display:none;}
.spot li{ padding:15px 30px;}
.spot li img{ width:100%;}
.spot li p{ background:#f5f3eb; height:30px; line-height:30px; text-align:center; color:#555454; font-size:16px;}
.f18{ font-size:18px;}
.red{ color:#ff4800;}
.fz1{ font-size:0.1rem;}
.fz2{ font-size:0.2rem;}
.fz3{ font-size:0.3rem;}
.fz4{ font-size:0.4rem;}
.fz5{ font-size:0.5rem;}
.fz6{ font-size:0.6rem;}


.bold{ font-weight:bold;}