.wp{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;            
}
.page{
	position:relative;
	background:#fff;
}
.page1{
	background:url(../images/page-6.jpg);
	background-repeat:no-repeat; 
	background-position:center; 
	background-size:cover; 
	height:100%;
}
.page1-img{
	background:url(../images/a5.jpg);
	background-repeat:no-repeat; 
	background-position:center; 
	background-size:cover; 
	height:100%;
}
.page1-img2{
	background:url(../images/bg_2.jpg);
	background-repeat:no-repeat; 
	background-position:center; 
	background-size:cover; 
	height:100%;
}
.page1-img3{
	background:url(../images/bg_3.jpg);
	background-repeat:no-repeat; 
	background-position:center; 
	background-size:cover; 
	height:100%;
}
.page1-img4{
	background:url(../images/bg_4.jpg);
	background-repeat:no-repeat; 
	background-position:center; 
	background-size:cover; 
	height:100%;
}
.page2{
    background:url(../images/page-2.jpg);
	background-repeat:no-repeat; 
	background-position:center; 
	background-size:cover; 
	height:100%;
}
.page3{
    background: maroon;
}
.page4{
    background: green;
}
.page5{
    background: blue;
}
.page6{
    background:url(../images/page-6.jpg);
	background-repeat:no-repeat; 
	background-position:center; 
	background-size:cover; 
	height:100%;
}
.page6-img{
	background:url(../images/bg_5.jpg);
	background-repeat:no-repeat; 
	background-position:center; 
	background-size:cover; 
	height:100%;
}
.page6-img2{
	background:url(../images/bg_2.jpg);
	background-repeat:no-repeat; 
	background-position:center; 
	background-size:cover; 
	height:100%;
}
.page6-img3{
	background:url(../images/bg_3.jpg);
	background-repeat:no-repeat; 
	background-position:center; 
	background-size:cover; 
	height:100%;
}
.page6-img4{
	background:url(../images/bg_4.jpg);
	background-repeat:no-repeat; 
	background-position:center; 
	background-size:cover; 
	height:100%;
}
.page7{
    background: #000;
}

/* 箭头 */
@-webkit-keyframes start {
    0%,30% {
        opacity: 0.2;
        -webkit-transform: translate(0,10px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0,0);
    }
    100% {
        opacity: 0.2;
        -webkit-transform: translate(0, -5px);
    }
}
@keyframes start {
    0%,30% {
        opacity: 0.2;
        transform: translate(0,10px);
    }
    60% {
        opacity: 1;
        transform: translate(0,0);
    }
    100% {
        opacity: 0.2;
        transform: translate(0, -5px);
    }
}
.start{
    position: fixed;
    left: 50%;
    margin-left: -17px;
    top: 95%;
    margin-top: -34px;
    width: 34px;
    height: 34px;
}
.start b{
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -9px;
    width: 19px;
    height: 12px;
    background: url(img/arrow.png);
    background-size: 100% 100%;
    -webkit-animation: start 1.5s infinite ease-in-out;
    animation: start 1.5s infinite ease-in-out;
}


.left-top{ 
    position:absolute; 
	left:0;
	top:0;
	z-index:4;
}
.left-box{
	position:absolute;
	top:10px;
	left:10px;
	z-index:4;
}
.left-box img{
	width:3rem;
	transform:scale(0.8,0.8);	
}
.center-top img{
	position:absolute;
	left:0;
	top:0;
	z-index:3;
	width:100%;
	
}
.page1-cent{
	background:rgba(147,132,96,0.8);
	width:100%;
	height:100%;	
}
.center-box{
	color:#fff;
}
.cen-title{
	position:absolute;
	z-index:3;
	top:3rem;
	right:2rem;
	text-align:right;
}
.cen-text{
	position:absolute;
	z-index:3;
	width:6rem;
	top:5.2rem;
	left:0.8rem;
	text-align:left;
}
.right-bottom{ 
    position:absolute; 
	right:0;
	bottom:0;
	z-index:3;
}
.right-box{ 
    position:absolute;
	right:0.5rem;
	bottom:0.5rem;
	z-index:3;
	text-align:right;
	color:#50431c;
}
.code{
	width:1.2rem;
	height:1.2rem;
	margin-bottom:10px;
}
.lump{
	display:inline-block;
	border-bottom:1px solid #50431c;
	padding:5px 0;
}


/*page2*/
.pat20{ 
   padding:20px;
}
.b-title{ 
   position:absolute;
   width:100%;
   text-align:center;
   color:#50431c;
   left:0;
}
.b-title h3{ 
  font-size:0.6rem;
}
.b-title p{ 
  font-size:0.3rem;
}

/*banner*/
.proimg_wrap {
  margin-top:1.5rem;
  position: relative;
  overflow: hidden; 
  border:2px solid #948d80;
}

.proimg_wrap ul {
  overflow: hidden;
  position: relative; 
}

.proimg_wrap ul li {
  float: left;
  position: relative;
}
.proimg_wrap ul li img{
	width:100%;
	height:100%;
}
.proimg_wrap li p{
	position:absolute;
	bottom:20px;
	background:rgba(0,0,0,0.4);
	width:100%;
	text-align:center;
	color:#fff;
	font-size:0.5rem;
	height:1rem;
	line-height:1rem;
}
.proimg_wrap .swipedot {
  width: 100%;
  position: absolute;
  bottom: 0;
  height:20px;
  text-align: center; 
  background:rgba(0,0,0,0.4);
}

.proimg_wrap .swipedot span {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius:50%;
  background:#555354;
  margin:5px; 
}

.proimg_wrap .swipedot span.current {
  background: #fff; 
}
  
.intro{ 
  margin-top:1rem;
  padding:10px; 
  overflow-y:auto; 
  overflow-x:hidden;
}
.intro p{
  font-size:0.4rem;
  text-indent:1em;
  word-break: break-all;	
}
.page3-top img{
	height:100%;
	width:100%;
}
.page3-center{
	overflow:hidden;
}
.page3-center img{
	height:100%;
	width:100%;
}
.page3-text{
	position:absolute;
	z-index:1;
	height:100%;
	left:0;
	top:0;
	text-align:center;
	background:rgba(147,132,96,0.8);
	overflow:hidden;
}
.page3-text h3{
	 font-size:16px;
	 color:#ffe552;
	 padding:5px 0;
}
.page3-text p{
	 font-size:0.4rem;
	 text-align:left;
	 padding:0 10px;
	 color:#fff;
}
.page3-bottom img{
	width:50%;
	height:100%;
	float:left;
}
.w-line{
	position:relative;
	width:90%;
	height:1px;
	margin:0.1rem 5%;
	
}

/*page4*/
.page4-lt{
	position:absolute;
	left:0;
	top:0;
	width:38%;
	height:100%;
}
.pat10{
	padding:10px;
}
.pad{
	padding-top:1rem;
}
.page4-title{
	background:#958662;
	text-align:center;
	position:absolute;
	color:#fff;
	width:90%;
	left:5%;
	top:0.3rem;
}
.page4-text{
	padding:0.3rem 10%;
	text-align:center;
	transform:scale(0.8,0.8);
}
.line{
	width:100%;
	height:1px;
	margin-top:0.3rem;
}
.page4-rt{
	position:absolute;
	right:0;
	top:0;
	width:62%;
	height:100%;
}
.page4-rt .rtimg img{
	width:100%;
}
.page4-text h5{
	font-size:0.5rem;
	color:#958662;
}
.page4-text h5 p{
	font-size:0.1rem;
	font-weight:normal;
	text-align:center;
}
.page4-text p{
	font-size:0.3rem;
	color:#958662;
	text-align:left;
	word-break:break-all;
}
.page5-top img{
	width:100%;
	height:100%;
}
.topbox{
	position:absolute;
	padding:0.3rem 0;
	text-align:right;
	bottom:0;
	background:rgba(77,69,34,0.6);
	width:100%;
	color:#fff;
	overflow:hidden;
}
.topbox h3{
	font-size:0.6rem;
	padding:0 0.1rem;
}
.topbox p{
	font-size:0.2rem;
	padding:0 0.1rem;
}
.page5-center img{
	height:100%;
	width:100%;
}
.cent_lt{
	float:left;
	width:58%;
	height:100%;
}
.cent_rt{
	float:right;
	width:42%;
	height:100%;
}
.page5-bottom img{
	width:100%;
	height:100%;
}
.bot_lt{
	float:left;
	width:70%;
	height:100%;
}
.bot_rt{
	float:right;
	width:30%;
	height:100%;
	background:#958662;
	color:#fff;
	overflow:hidden;
	position:relative;
}
.case{
	left:8px;
	top:8px;
	overflow:hidden;
	position:absolute;
}
.bot_rt h3{
	font-size:0.4rem;
	width:0.4rem;
	height:100%;
	float:right;	
}
.bot_rt .silo-text{
	margin-right:0.1rem;
	width:999px;
	position:absolute;
	right:0.4rem;
}
.bot_rt .silo-text p{
	float:right;
	font-size:0.3rem;
	width:0.3rem;
	word-wrap : break-word;
	padding:0 3px;
	text-align:center;
}

.page6-bottom{
	position:absolute;
	bottom:2rem;
	right:0;
	width:80%;
	text-align:right;	
}
.item-1{
	display:inline-block;
	text-align:right;
	background:rgba(77,69,34,0.6);
	color:#fff;
	padding:0.1rem 0.3rem;
}
.item-1 h3{
	font-size:0.6rem;
}
.item-1 p{
	font-size:0.3rem;
}
.item-2{
	width:80%;
	display:inline-block;
	text-align:left;
	color:#fff;
	font-size:0.3rem;
	background:rgba(77,69,34,0.5);
	padding:0.1rem 0.3rem;
	margin-top:0.1rem;
}

.page6-shade{
	position:absolute;
	z-index:4;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(77,69,34,0.7);
	display:none;
}
.abs-lt{ 
   position:absolute;
   left:1rem;
   top:1rem;
   font-size:0.5rem;
   color:#fff;
   height:0.8rem;
   z-index:5;
}
.i-return{
	display:inline-block;
	vertical-align:middle;
	background:url(../images/return.png) no-repeat;
	background-size:80% auto;
	width:0.8rem;
	height:0.8rem;
}
.abs-rt{ 
   position:absolute;
   right:1rem;
   top:1rem;
   font-size:0.5rem;
   color:#fff;
   height:0.8rem;
   z-index:5;
}
.i-close{
	display:inline-block;
	vertical-align:middle;
	background:url(../images/close.png) no-repeat;
	width:0.8rem;
	height:0.8rem;
	background-size:80% auto;
}
.shade-text{
	position:absolute;
	padding-top:2rem;
	color:#fff;
	text-align:center;
	width:80%;
	left:10%;
}
.shade-text h3{
	font-size:0.6rem;
	padding-bottom:0.1rem;
}
.line-lr{
	padding-bottom:0.5rem;
}
.line-lr:before{
	content:"———";
}
.line-lr:after{
	content:"———";
}
.txt p{ 
   text-align:left;
   text-indent:1rem;
}
















